@import url(../fonts/fonts.css);

html {
  font-family: "PT Serif", "Serif";
  background-color: #feffef;
  min-height: 100vh;
}

p {
  font-size: 18px;
}

body {
  margin: 0;
  color: #100030;
}

h1,
h2,
h3 {
  font-family: "Dosis", "Arial Narrow";
  margin-bottom: 18px;
  margin-top: 18px;
}

h2 {
  font-size: 48px;
}

.theBusiness {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 700px;
  padding: 0 10px;
  border-radius: 8px;
}

@media (min-width: 740px) {
  .theBusiness {
    margin: auto;
  }
}
